main{
    margin: 0 auto;
    width: 60%;
}

main img{
    margin-top: 100px;
    width: 100%;
}

main h1{
    font-size: 3rem;
    margin: 10px;
}

main p{
    font-size: 1.5rem;
}

.contenedor-card{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px;
}

.card{
    background: #ffdc16cc;
    border-radius: 20px;
    border: rgb(0, 0, 0) 2px solid;
    margin: 0 auto;
    min-width: 250px;
    width: 400px;
    height: 600px;
    min-height: 550px;
    padding: 20px;
    text-align: center;
}

.card h2{
    margin: 10px;
}

.card p{
    padding: 10px;
}


.card img{
    width: 200px;
    margin: 0;
}