*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #ffffff;
}

main{
    margin: 0 auto;
    width: 60%;
}

main img{
    margin-top: 100px;
    width: 100%;
}

main h1{
    font-size: 3rem;
    margin: 10px;
}

main p{
    font-size: 1.5rem;
}


/*Page principal*/
.datos{
    display: flex;
    margin: 10px;
    height: 350px;
    gap: 20px;
}

.datos p{
    margin: 30px;
}

.frase-iconica{
    text-align: center;
    color: #ffdc16cc;
    background: rgba(0, 0, 0, 0.808);
    margin-bottom: 1px;
}

/*Page clubes*/
.contenedor-card{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px;
}

.card{
    background: black;
    color: #ffdc16cc;
    border-radius: 20px;
    border: #ffdc16cc 5px solid;
    margin: 0 auto;
    min-width: 250px;
    width: 400px;
    height: 600px;
    min-height: 550px;
    padding: 20px;
    text-align: center;
}

.card h2{
    margin: 10px;
}

.card p{
    padding: 10px;
}


.card img{
    width: 200px;
    margin: 0;
}